.quiz-summary-style {
  background-color: #ffffff;
  height: 45vh;
  width: 1310px;
  height: 430px;
  border-radius: 6px;
  border-width: 1px;
  border: 1px solid #e1e1e1;
  margin: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 13px;
}

.p-button.p-button-sm {
  font-size: 0.875rem;
  height: 30px;
  padding: 0px;
  width: 35px;
  text-align: center !important;
}
::ng-deep .p-paginator-bottom.p-paginator.p-component {
  width: fit-content;
  height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  padding: 0px;
  margin-top: 34px;
  margin-left: 970px;
}
::ng-deep .p-paginator .p-dropdown {
  margin-left: 0rem;
  margin-right: 0rem;
  height: 3rem;
}
::ng-deep .p-dropdown {
  background: #ffffff;
  border: 1px solid #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 6px;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
  background-color: transparent !important;
  border: none !important;
  color: #6b7280 !important;
  min-width: 2rem !important;
  margin: 0rem !important;
  height: 2rem;
  transition: box-shadow 0.2s !important;
  border-radius: 0px !important;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #4a90e2 !important;
  border-color: #eff6ff !important;
  color: #ffffff !important;
}
//scrollable height
::ng-deep .p-datatable-scrollable > .p-datatable-wrapper {
  position: relative;
  min-height: 300px !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
  padding: 0.5rem 1rem;
}
::ng-deep .p-link {
  font-family: var(--font-family) !important;
  font-feature-settings: var(--font-feature-settings, normal) !important;
  font-size: 1rem !important;
  border-radius: none !important;
}

.p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev,
.p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
  border-radius: 6px !important;
  border: 1px solid #e1e1e1 !important;
}
::ng-deep .p-paginator .p-paginator-first {
  background-color: transparent;
  border: 0 none !important;
  color: #6b7280;
  min-width: 2rem !important;
  height: 3rem;
  margin: 0rem !important;
  transition: box-shadow 0.2s;
  border-radius: 0px !important;
}
::ng-deep .p-paginator .p-paginator-prev {
  background-color: transparent;
  border: 0 none !important;
  color: #6b7280;
  min-width: 2rem !important;
  height: 3rem;
  margin: 0rem !important;
  transition: box-shadow 0.2s;
  border-radius: 0px !important;
}
::ng-deep .p-paginator .p-paginator-next {
  background-color: transparent;
  border: 0 none !important;
  color: #6b7280;
  min-width: 2rem !important;
  height: 3rem;
  margin: 0rem !important;
  transition: box-shadow 0.2s;
  border-radius: 0px !important;
}
::ng-deep .p-paginator .p-paginator-last {
  background-color: transparent;
  border: 0 none !important;
  color: #6b7280;
  min-width: 2rem !important;
  height: 3rem;
  margin: 0rem !important;
  transition: box-shadow 0.2s;
  border-radius: 0px !important;
}
::ng-deep .p-datatable-scrollable > .p-datatable-wrapper {
  position: relative;
  max-height: 300px !important;
}
// media queries
@media (min-width: 766px) and (max-width: 1024px) {
  .quiz-summary-style {
    background-color: #ffffff;
    height: 45vh;
    width: 600px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #e1e1e1;
    margin: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 5px;
  }
  ::ng-deep .p-datatable-scrollable > .p-datatable-wrapper {
    position: relative;
    min-height: 169px !important;
    height: 170px !important;
  }

  ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    font-size: 12px;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 0px;
  }
  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 3px;
    font-size: 12px;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #374151;
    background: #f9fafb;
    transition: box-shadow 0.2s;
  }

  //paginator style overriding
  ::ng-deep .p-paginator-bottom.p-paginator.p-component {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    padding: 0px;
    margin-top: 10px;
    margin-left: 280px;
  }
  ::ng-deep .p-paginator .p-dropdown {
    margin-left: 0rem;
    margin-right: 0rem;
    height: 3rem;
  }
  ::ng-deep .p-dropdown {
    background: #ffffff;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 6px;
  }

  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent !important;
    border: none !important;
    color: #6b7280 !important;
    min-width: 2rem !important;
    margin: 0rem !important;
    transition: box-shadow 0.2s !important;
    border-radius: 0px !important;
  }
  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #4a90e2 !important;
    border-color: #eff6ff !important;
    color: #ffffff !important;
  }

  ::ng-deep .p-link {
    font-family: var(--font-family) !important;
    font-feature-settings: var(--font-feature-settings, normal) !important;
    font-size: 1rem !important;
    border-radius: none !important;
  }

  .p-paginator-page,
  .p-paginator-next,
  .p-paginator-last,
  .p-paginator-first,
  .p-paginator-prev,
  .p-paginator-current {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    position: relative;
    border-radius: 6px !important;
    border: 1px solid #e1e1e1 !important;
  }
  ::ng-deep .p-paginator .p-paginator-first {
    background-color: transparent;
    border: 0 none !important;
    color: #6b7280;
    min-width: 2rem !important;
    height: 2rem;
    margin: 0rem !important;
    transition: box-shadow 0.2s;
    border-radius: 0px !important;
  }
  ::ng-deep .p-paginator .p-paginator-prev {
    background-color: transparent;
    border: 0 none !important;
    color: #6b7280;
    min-width: 2rem !important;
    height: 3rem;
    margin: 0rem !important;
    transition: box-shadow 0.2s;
    border-radius: 0px !important;
  }
  ::ng-deep .p-paginator .p-paginator-next {
    background-color: transparent;
    border: 0 none !important;
    color: #6b7280;
    min-width: 2rem !important;
    height: 3rem;
    margin: 0rem !important;
    transition: box-shadow 0.2s;
    border-radius: 0px !important;
  }
  ::ng-deep .p-paginator .p-paginator-last {
    background-color: transparent;
    border: 0 none !important;
    color: #6b7280;
    min-width: 2rem !important;
    height: 3rem;
    margin: 0rem !important;
    transition: box-shadow 0.2s;
    border-radius: 0px !important;
  }
}
@media (min-width: 1023px) and (max-width: 1340px) {
  .quiz-summary-style {
    background-color: #ffffff;
    height: 55vh;
    width: 800px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #e1e1e1;
    margin: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 13px;
  }
  ::ng-deep .p-datatable-scrollable > .p-datatable-wrapper {
    position: relative;
    min-height: 350px !important;
  }
  ::ng-deep .p-paginator-bottom.p-paginator.p-component {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    padding: 0px;
    margin-top: 30px;
    margin-left: 420px;
  }
  ::ng-deep .p-paginator .p-dropdown {
    margin-left: 0rem;
    margin-right: 0rem;
    height: 3rem;
  }
  ::ng-deep .p-dropdown {
    background: #ffffff;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 6px;
  }

  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent !important;
    border: none !important;
    color: #6b7280 !important;
    min-width: 2rem !important;
    margin: 0rem !important;
    transition: box-shadow 0.2s !important;
    border-radius: 0px !important;
  }
  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #4a90e2 !important;
    border-color: #eff6ff !important;
    color: #ffffff !important;
  }
}

@media (min-width: 520px) and (max-width: 768px) {
  ::ng-deep .p-datatable-scrollable > .p-datatable-wrapper {
    position: relative;
    min-height: 200px !important;
  }
}
@media (min-width: 320px) and (max-width: 510px) {
  .quiz-summary-style {
    background-color: #ffffff;
    height: 45vh;
    width: 300px;
    height: 430px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #e1e1e1;
    margin: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    padding: 13px;
  }
  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent !important;
    border: none !important;
    color: #6b7280 !important;
    min-width: 1.1rem !important;
    margin: 0rem !important;
    height: 1.8rem;
    transition: box-shadow 0.2s !important;
    border-radius: 0px !important;
  }
  ::ng-deep .p-paginator-bottom.p-paginator.p-component {
    width: fit-content;
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    padding: 0px;
    margin-top: 34px;
    margin-left: 0px;
  }
  ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 0rem 0rem;
  }
  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 0rem 0rem;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    font-weight: 700;
    font-size: 0.8rem !important;
    background: #f9fafb;
    /* transition: box-shadow 0.2s; */
  }
}

::ng-deep .p-table {
  height: 400px;
}
