<div class="question-summary-style">
  <div class="quiz-summary-style">
    <div style="margin: 10px 0px">
      <div>Quiz Summary</div>
    </div>
    <div class="card">
      <p-table
        [value]="questions"
        [paginator]="true"
        [rows]="rows"
        [first]="first"
        [tableStyle]="{ 'min-width': '40rem' }"
        scrollable="true"
        scrollHeight="250px"
        [loading]="loading"
        (onPage)="onPage($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Quiz ID</th>
            <th>Question Text</th>
            <th>Correct Answer</th>
            <th>Timer</th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-question>
          <tr>
            <td>Q{{ question.id }}</td>
            <td>{{ question.questionText }}</td>
            <td>{{ question.correctAnswer }}</td>
            <td>{{ question.timerInSeconds }}</td>
            <td
              style="cursor: pointer"
              class="animate-me"
              (click)="edit(question)"
            >
              <!-- Edit SVG -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#75767C"
              >
                <path
                  d="M154-154v-142l490-490.5q10-10.5 21.75-15t24.75-4.5q13 0 25 4.75t23 14.75l48 47.5q10 10.5 14.75 22.25T806-691.5q0 13-4.75 25t-14.75 22L296-154H154Zm537.5-490 47.5-47.5-47.5-47.5-47.5 47.5 47.5 47.5Z"
                />
              </svg>
            </td>
            <td style="cursor: pointer" class="animate-me">
              <div class="card flex justify-content-center gap-2">
                <p-toast />
                <p-confirmPopup />
                <p-button
                  (onClick)="delete($event, question.id)"
                  label=""
                  closable="true"
                  severity="danger"
                  [outlined]="true"
                  [style]="{ padding: '0px', border: 'none' }"
                >
                  <!-- Delete SVG -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#75767C"
                  >
                    <path
                      d="M315-154q-27.64 0-47.32-19.68T248-221v-472h-47v-67h185v-46h189v46h185v67h-47v471.57q0 28.37-19.68 47.9Q673.64-154 646-154H315Zm74-137.5h67v-331h-67v331Zm116 0h67v-331h-67v331Z"
                    />
                  </svg>
                </p-button>
              </div>
            </td>
          </tr>
        </ng-template>

        <!-- ✅ Custom Paginator Input -->
        <ng-template pTemplate="paginatorright">
          <div
            class="paginator-custom"
            style="display: flex; align-items: center"
          >
            <input
              type="number"
              [(ngModel)]="goToPageNumber"
              [min]="1"
              [max]="maxPage"
              style="width: 35px; height: 30px; margin-right: 0.5rem"
              class="p-inputtext p-component"
              placeholder="Page"
            />
            <button
              pButton
              type="button"
              label="Go"
              class="p-button-sm"
              (click)="goToPage()"
            ></button>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
