.quiz-summary-style {
  background-color: #ffffff;
  width: 1210px;
  height: 365px;
  border-radius: 6px;
  border-width: 1px;
  border: 1px solid #e1e1e1;
  margin: 10px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 13px;
}
