.admin-page-css {
  background-image: url("../../../../../public/8d617e53523f92156749f20eced274505921e476.png");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-login-div {
  width: 532px;
  height: 715px;
  border-radius: 24px;
  border-width: 1px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040;
}

h1 {
  font-family: "Risque";
  font-weight: 400;
  font-size: 100px;
  margin: 0px;
}
.ui {
  font-family: "Protest Riot";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4a90e2;
  position: relative;
  left: -16px;
  top: -8px;
}
.zoo {
  font-family: "Rampart One";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  position: relative;
  left: -16px;
  top: -8px;
  color: black;
}

h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #333333;
}
.adminp {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4a90e2;
}
.admin-signin {
  text-align: center;
}

.admin-signin > p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #a09f9f;
}

.username-div {
  text-align: left;
  margin: 30px 0px;
}
label {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
}
input {
  padding-left: 15px;
  width: 462px;
  margin-top: 10px;
  height: 55px;
  border-radius: 10px;
  background: rgba(220, 220, 220, 0.393);
  border: none;
  margin-bottom: 10px;
  color: black;
}
::ng-deep .p-password .p-inputtext {
  width: 462px;
  margin-top: 10px;
  height: 55px;
  border-radius: 10px;
  background-color: rgba(220, 220, 220, 0.393);
  border: none;
  margin-bottom: 20px;
  color: black;
}

::ng-deep .p-button {
  width: 462px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px;
  background-color: #4a90e2;
  margin-top: 20px;
}

::ng-deep .p-inputtext {
  width: 462px;
  margin-top: 10px;
  height: 55px;
  border-radius: 10px;
  background-color: rgba(220, 220, 220, 0.393);
  border: none;
  margin-bottom: 20px;
}

a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  margin-top: 30px;
  cursor: pointer;
  color: #a09f9f;
}
::ng-deep .p-password .p-icon {
  cursor: pointer;
  position: relative;
  top: -5px;
}
@media (max-width: 576px) {
  .admin-page-css {
    background-image: url("../../../../../public/8d617e53523f92156749f20eced274505921e476.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .admin-login-div {
    width: 250px;
    height: 430px;
    border-radius: 24px;
    border-width: 1px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  h1 {
    font-family: "Risque";
    font-weight: 400;
    font-size: 45px;
  }
  .ui {
    font-family: "Protest Riot";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4a90e2;

    position: relative;
    left: 0px;
  }
  .zoo {
    font-family: "Rampart One";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    left: 0px;
    color: black;
  }

  h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
  }

  .adminp {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4a90e2;
  }
  .admin-signin {
    text-align: center;
  }

  .admin-signin > p {
    font-family: "Poppins";
    font-weight: 500 !important;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #a09f9f;
  }

  .username-div {
    text-align: left;
    margin-top: 4px;
  }
  label {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  input {
    padding-left: 15px;
    width: 220px;
    margin-top: 10px;
    height: 33px;
    border-radius: 10px;
    background: rgba(220, 220, 220, 0.393);
    border: none;
    margin-bottom: 10px;
    color: black;
  }
  ::ng-deep .p-password .p-inputtext {
    width: 220px;
    height: 33px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.393);
    border: none;
    margin-bottom: 20px;
    color: black;
  }

  ::ng-deep .p-button {
    width: 145px;
    height: 30px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #4a90e2;
    position: relative;
    top: -10px;
    margin-top: 20px;
  }

  ::ng-deep .p-inputtext {
    width: 382px;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.393);
    border: none;
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
    font-size: 12px !important;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    cursor: pointer;

    color: #a09f9f;
  }
  ::ng-deep .p-password .p-icon {
    cursor: pointer;
    position: relative;
    top: -5px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .admin-login-div[_ngcontent-ng-c1921655079] {
    width: 408px;
    height: 585px;
    border-radius: 24px;
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
}
