<div class="admin-page-css">
  <div class="admin-login-div">
    <div>
      <h1>Q<span class="ui">uiz</span><span class="zoo">oo</span></h1>
    </div>
    <div class="admin-signin">
      <h2>Sign In</h2>
      <p>Welcome Back <span class="adminp">Admin!</span></p>
    </div>
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
      <div class="username-div">
        <label for="username">Username * </label>
        <br />
        <input
          formControlName="username"
          pInputText
          type="text"
          placeholder="Admin"
        />
      </div>
      <div class="username-div">
        <label for="username">Password * </label>
        <br />
        <p-password
          formControlName="password"
          [toggleMask]="true"
          placeholder="Admin"
        />
      </div>
      <p-button type="submit" label="Login" />
    </form>
    <a [routerLink]="['/user-layout/register-page']"
      >Don’t have an account ? <span class="adminp">Register</span></a
    >
  </div>
</div>
