img {
  width: 244px;
  height: 244px;
}
.congrats-div-style > p {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2e629f;
}

.congrats-div-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.marks-div {
  display: flex;
  width: 765px;
  height: 150px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border-width: 1px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.marks-div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px 10px;
}
.wrong-answers {
  width: 59px;
  height: 59px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff9673;
  margin: 0px 10px;
}
.wrong-answers > span {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}
span {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
}

.correct-answers {
  width: 59px;
  height: 59px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  background: #88f6a0;
}
.correct-answers > span {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.total-questions {
  width: 59px;
  height: 59px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  background: #7bb3f5;
}
.total-questions > span {
  font-family: "Poppins";
  font-weight: 700;
  color: white;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.horizontal-line {
  width: 150.00000000000017px;
  height: 1px;
  border: 1px solid #e1e1e1;
  transform: rotate(90deg);
  border-width: 1px;
  margin: 0px;
}

.total {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2e629f;
  width: 99px;
  height: 37px;
}
@media (min-width: 768px) and (max-width: 1020px) {
  img {
    width: 150px;
    height: 150px;
  }
  .congrats-div-style > p {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2e629f;
  }
  .marks-div {
    display: flex;
    width: 500px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  span {
    display: inline-block;
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .horizontal-line {
    width: 300px;
    height: 1px;
    border: 1px solid #e1e1e1;
    transform: rotate(90deg);
    border-width: 1px;
    margin: 0px;
  }
}

@media (max-width: 586px) {
  img {
    width: 100px;
    height: 100px;
  }
  .marks-div[_ngcontent-ng-c1183587410] {
    display: flex;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  }
  .congrats-div-style > p {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2e629f;
  }
  span {
    display: inline-block;
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .marks-div {
    display: flex;
    width: 292px;
    height: 150px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    align-content: stretch;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .marks-div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0px 10px;
  }
  .horizontal-line {
    position: relative;
    top: 2px;
    width: 268px;
    height: 1px;
    border: 1px solid #e1e1e1;
    transform: rotate(0deg);
    border-width: 1px;
    margin: 0px;
  }

  .wrong-answers {
    width: 36px;
    height: 35px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff9673;
    margin: 0px 10px;
  }
  .wrong-answers > span {
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .correct-answers {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    background: #88f6a0;
  }
  .correct-answers > span {
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .total-questions {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    background: #7bb3f5;
  }
  .total-questions > span {
    font-family: "Poppins";
    font-weight: 700;
    color: white;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  span {
    display: inline-block;
    text-align: center;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .total {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2e629f;
    width: 99px;
    height: 37px;
  }
}
