<div class="congrats-div-style">
  <div>
    <img src="../../../assets/woman-thinking.png" alt="thinking-woman" />
  </div>
  <p>Congratulations you have completed the quiz!!!...</p>
  <div class="marks-div">
    <div>
      <div class="wrong-answers"><span>5</span></div>
      <span>Wrong Answers</span>
    </div>
    <div>
      <div class="correct-answers"><span>20</span></div>
      <span>Correct Answers</span>
    </div>
    <div>
      <div class="total-questions"><span>25</span></div>
      <span>Total Questions</span>
    </div>
    <div class="horizontal-line"></div>
    <div class="total-marks">
      <span>Your Scored</span>
      <span class="total">45/50</span>
    </div>
  </div>
</div>
