<div class="view-scores-style">
  <div class="card-view">
    <p-table
      #dt
      [value]="users"
      [paginator]="true"
      [rows]="rows"
      [first]="first"
      [paginatorPosition]="'bottom'"
      [tableStyle]="{ 'min-width': '40rem' }"
      [scrollHeight]="'calc(100vh - 170px)'"
      scrollable="true"
      (onPage)="onPageChange($event)"
      [responsiveLayout]="'scroll'"
      scrollHeight="450px"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 20%">Name</th>
          <th style="width: 10%">Age</th>
          <th style="width: 20%">Email</th>
          <th style="width: 20%">Qualification</th>
          <th style="width: 10%">Score</th>
          <th style="width: 30%">Submission Time</th>
          <th style="width: 10%"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.qualification }}</td>
          <td>{{ user.score }}</td>
          <td>{{ user.submissionTime | date : "shortTime" }}</td>
          <td>
            <div class="card flex justify-content-center">
              <p-button
                (click)="op.toggle($event)"
                label="More"
                class="more-style"
              />
              <p-overlayPanel #op>
                <div class="bg-panel">
                  <span class="font-medium text-900 block mb-2"
                    >Participant Details</span
                  >
                  <ul class="list-none p-0 m-0 flex flex-column gap-3">
                    <li class="flex align-items-center gap-2 text-900">
                      <span class="font-medium"
                        >Participant Name: {{ user.name }}</span
                      >
                    </li>
                    <li class="flex align-items-center gap-2 text-900">
                      <span class="font-medium"
                        >Participant Age: {{ user.age }}</span
                      >
                    </li>
                    <li class="flex align-items-center gap-2 text-900">
                      <span class="font-medium"
                        >Participant Email: {{ user.email }}</span
                      >
                    </li>
                    <li class="flex align-items-center gap-2 text-900">
                      <span class="font-medium"
                        >Participant Score: {{ user.score }}</span
                      >
                    </li>
                    <li class="flex align-items-center gap-2 text-900">
                      <span class="font-medium"
                        >Exam Submission On :
                        {{ user.submissionTime | date : "mediumDate" }}</span
                      >
                    </li>
                    <li class="flex align-items-center gap-2 text-900">
                      <span class="font-medium"
                        >Exam Submission Time :
                        {{ user.submissionTime | date : "mediumTime" }}</span
                      >
                    </li>
                  </ul>
                </div>
              </p-overlayPanel>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <div style="display: flex; align-items: center">
          <input
            #pageInput
            id="pageInput"
            type="number"
            [(ngModel)]="curPageInput"
            [min]="1"
            class="page-input-style"
            [max]="maxPage"
          />
          <button
            type="button"
            pButton
            label="Go"
            class="go-input-style"
            (click)="goToPage(dt)"
          ></button>
        </div>
      </ng-template>
    </p-table>
  </div>
</div>
