<div class="exam-page-div">
  <div class="question-options-div">
    <form *ngIf="currentQuestion">
      <div class="question-image-div">
        <div class="question-answer">
          <p class="question-text">
            Q{{ currentQuestion.id }}: {{ currentQuestion.questionText }}
          </p>
          <div style="display: flex; flex-direction: column">
            <div class="options-label-style">
              <p-radioButton
                name="options"
                [(ngModel)]="currentQuestion.selectedOption"
                [value]="currentQuestion.optionA"
                (onClick)="selectedRadioButton(currentQuestion, $event)"
                variant="filled"
                [disabled]="currentQuestion.timerInSeconds === 0"
              />
              <label class="ml-2 py-4">
                {{ currentQuestion.optionA }}
              </label>
            </div>

            <div class="options-label-style">
              <p-radioButton
                name="options"
                [(ngModel)]="currentQuestion.selectedOption"
                [value]="currentQuestion.optionB"
                (onClick)="selectedRadioButton(currentQuestion, $event)"
                variant="filled"
              />
              <label class="ml-2 py-4">
                {{ currentQuestion.optionB }}
              </label>
            </div>

            <div class="options-label-style">
              <p-radioButton
                name="options"
                [(ngModel)]="currentQuestion.selectedOption"
                [value]="currentQuestion.optionC"
                (onClick)="selectedRadioButton(currentQuestion, $event)"
                variant="filled"
              />
              <label class="ml-2 py-4">
                {{ currentQuestion.optionC }}
              </label>
            </div>

            <div class="options-label-style">
              <p-radioButton
                name="options"
                [(ngModel)]="currentQuestion.selectedOption"
                [value]="currentQuestion.optionD"
                (onClick)="selectedRadioButton(currentQuestion, $event)"
                variant="filled"
              />
              <label class="ml-2 py-4">
                {{ currentQuestion.optionD }}
              </label>
            </div>
          </div>
        </div>

        <div>
          <img src="../../../assets/thinking-boy.png" alt="thinking-boy" />
        </div>
      </div>

      <div class="buttons-div">
        <p-button
          label="Previous"
          (click)="prev()"
          [disabled]="currentIndex === 0"
        />
        <div class="prev-skip-next-div-style">
          <p-button
            label="Next"
            class="primary"
            (click)="next()"
            [disabled]="currentIndex === questions.length - 1"
          />
          <p-button
            *ngIf="currentIndex !== questions.length - 1"
            label="Skip"
            (click)="skip()"
            [disabled]="currentIndex === questions.length - 1"
          />
          <p-button
            *ngIf="currentIndex === questions.length - 1"
            label="Submit"
            class="success"
            (click)="submit()"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="time-questionlist-div">
    <div class="time-container-div">
      <p class="time-text">Time</p>
      <svg width="120" height="120">
        <circle class="background" cx="60" cy="60" r="54"></circle>
        <circle
          class="progress"
          cx="60"
          cy="60"
          r="54"
          [attr.stroke-dasharray]="circumference"
          [attr.stroke-dashoffset]="strokeDashoffset"
        ></circle>
      </svg>
      <div class="counter">{{ formattedTime }}</div>
    </div>
    <div class="question-list-container">
      <p style="margin-left: 10px">Question List</p>
      <div class="question-div-scroll">
        <ul
          [ngStyle]="{
            'list-style-type': 'none',
            padding: '0px',
            margin: '0px',
            backgroundColor: 'white'
          }"
        >
          <li
            *ngFor="let question of questionsInformation; let i = index"
            class="question-status-style"
            [ngStyle]="{
              backgroundColor:
                question.questionStatus === 'answered'
                  ? '#c6e4d6'
                  : question.questionStatus === 'skipped'
                  ? '#ffe0d5'
                  : '#ffffff'
            }"
          >
            Question {{ i + 1 }}
            <div [ngSwitch]="question.questionStatus">
              <ng-template ngSwitchCase="answered">
                <span
                  ><i
                    class="pi pi-check"
                    style="
                      color: white;
                      font-size: 13px;
                      margin: 0px;
                      border-radius: 20px;
                      padding: 4px;
                      font-weight: 700;
                      background: green;
                      text-align: center;
                    "
                  ></i
                ></span>
              </ng-template>
              <ng-template ngSwitchCase="skipped"
                ><span style="font-style: italic">skipped</span></ng-template
              >
              <ng-template ngSwitchCase="unAnswered"
                ><span style="font-style: italic; color: red"
                  >Not Answered(Timeout)</span
                ></ng-template
              >
              <ng-template ngSwitchDefault> </ng-template>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
