<div class="exam-page-div">
  <div class="question-options-div">
    <form *ngIf="currentQuestion">
      <div class="question-image-div">
        <div class="question-answer">
          <p class="question-text">
            Q{{ currentQuestion.id }}: {{ currentQuestion.questionText }}
          </p>
          <div style="display: flex; flex-direction: column">
            <div class="options-label-style">
              <p-radioButton
                name="options"
                [(ngModel)]="currentQuestion.selectedOption"
                [value]="currentQuestion.optionA"
                (onClick)="selectedRadioButton(currentQuestion, $event)"
                variant="filled"
              />
              <label class="ml-2 py-4">
                {{ currentQuestion.optionA }}
              </label>
            </div>

            <div class="options-label-style">
              <p-radioButton
                name="options"
                [(ngModel)]="currentQuestion.selectedOption"
                [value]="currentQuestion.optionB"
                (onClick)="selectedRadioButton(currentQuestion, $event)"
                variant="filled"
              />
              <label class="ml-2 py-4">
                {{ currentQuestion.optionB }}
              </label>
            </div>

            <div class="options-label-style">
              <p-radioButton
                name="options"
                [(ngModel)]="currentQuestion.selectedOption"
                [value]="currentQuestion.optionC"
                (onClick)="selectedRadioButton(currentQuestion, $event)"
                variant="filled"
              />
              <label class="ml-2 py-4">
                {{ currentQuestion.optionC }}
              </label>
            </div>

            <div class="options-label-style">
              <p-radioButton
                name="options"
                [(ngModel)]="currentQuestion.selectedOption"
                [value]="currentQuestion.optionD"
                (onClick)="selectedRadioButton(currentQuestion, $event)"
                variant="filled"
              />
              <label class="ml-2 py-4">
                {{ currentQuestion.optionD }}
              </label>
            </div>
          </div>
        </div>

        <div>
          <img src="../../../assets/thinking-boy.png" alt="thinking-boy" />
        </div>
      </div>

      <div class="buttons-div">
        <p-button
          label="Previous"
          (click)="prev()"
          [disabled]="currentIndex === 0"
        />
        <div class="prev-skip-next-div-style">
          <p-button
            label="Next"
            class="primary"
            (click)="skip()"
            [disabled]="currentIndex === questions.length - 1"
          />
          <p-button
            *ngIf="currentIndex !== questions.length - 1"
            label="Skip"
            (click)="next()"
            [disabled]="currentIndex === questions.length - 1"
          />
          <p-button
            *ngIf="currentIndex === questions.length - 1"
            label="Submit"
            class="success"
            (click)="submit()"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="time-questionlist-div">
    <div class="time-container-div">
      <p class="time-text">Time</p>
      <svg width="120" height="120">
        <circle class="background" cx="60" cy="60" r="54"></circle>
        <circle
          class="progress"
          cx="60"
          cy="60"
          r="54"
          [attr.stroke-dasharray]="circumference"
          [attr.stroke-dashoffset]="strokeDashoffset"
        ></circle>
      </svg>
      <div class="counter">{{ formattedTime }}</div>
    </div>
    <div class="question-list-container">
      <p class="question-list-contaier-p-style" style="padding: 5px">
        Question List
      </p>
      <div class="question-div-scroll">
        <div *ngFor="let question of questions; let i = index">
          <div class="question-check-style">
            <span style="float: left; padding-left: 10px">
              Question {{ question.id }} ({{ question.questionStatus }})
            </span>

            <span
              style="
                margin-right: 10px;
                width: 27px;
                height: 27px;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: 1000;
                color: #fff;
              "
              [ngStyle]="{
                backgroundColor:
                  question.questionStatus === 'answered'
                    ? '#41a676'
                    : question.questionStatus === 'skipped'
                    ? '#ff8000'
                    : '#ccc'
              }"
            >
              <i
                class="pi"
                [ngClass]="{
                  'pi-check': question.questionStatus === 'answered',
                  'pi-times': question.questionStatus === 'skipped',
                  'pi-circle-off': question.questionStatus === 'untouched'
                }"
              ></i>
            </span>
          </div>
        </div>

        <!-- <div *ngFor="let question of questions; let i = index">
          <div class="question-check-style">
            <span style="float: left; padding-left: 10px"
              >Question{{ question.id }}</span
            >
            <span
              style="
                margin-right: 10px;
                width: 27px;
                height: 27px;
                color: rgb(255, 255, 255);
                border-radius: 20px;
                background-color: #41a676;
                display: flex;
                align-items: center;
                justify-content: center;
              "
              ><i
                class="pi pi-check"
                style="font-size: 15px; font-weight: 1000"
              ></i
            ></span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
