.exam-page-div {
  margin: 0px;
  display: flex;
  gap: 15px;
  width: 100vw;
  justify-content: center;
}
.question-options-div {
  width: 1015px;
  height: 510px;
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  align-items: center;
  justify-content: flex-start;
}
.question-options-div p {
  word-wrap: break-word;
  font-family: "Poppins";
  width: 300px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
.question-options-div label {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  margin: 0px;
}
.time-questionlist-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.time-container-div {
  width: 380px;
  height: 180px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #e1e1e1;
}

.question-list-container {
  width: 380px;
  height: 318px;
  border-radius: 6px;
  border-width: 1px;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #e1e1e1;
}

.question-image-div {
  display: flex;
  padding: 0px 5px;
  justify-content: flex-start;
}
.prev-skip-next-div-style {
  display: flex;
  justify-content: space-between;
}

img {
  width: 320px;
  height: 320px;
  position: relative;
  top: 34px;
  left: 125px;
}

form {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.prev-skip-next-div-style :first-child::ng-deep.p-button {
  color: #2e629f;
  background-color: rgb(255, 255, 255);
  width: 100px;
  font-family: "Poppins";
  width: 124px;
  height: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 6px;
  border-width: 1px;
  border-color: #2e629f;
  margin-right: 10px;
}
.prev-skip-next-div-style :nth-child(2)::ng-deep.p-button {
  color: rgb(255, 255, 255);
  background-color: #2e629f;
  width: 100px;
  font-family: "Poppins";
  width: 124px;
  height: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 6px;
  border-width: 1px;
  border-color: #2e629f;
}
.prev-skip-next-div-style {
  grid-row: 2;
  grid-column: 4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.buttons-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons-div ::ng-deep .p-button {
  color: #2e629f;
  background-color: rgb(255, 255, 255);
  width: 100px;
  font-family: "Poppins";
  width: 124px;
  height: 30px;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 6px;
  border-width: 1px;
  border-color: #2e629f;
}

.question-list-container {
  display: flex;
  flex-direction: column;
}
.question-list-container:first-child p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
}
.question-check-style {
  background: #c6e4d6;
  width: 100%;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question-div-scroll {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.countdown-ring {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 20px auto;
}

svg {
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 13px;
  r: 46;
  cx: 66;
  cy: 57;
}

.background {
  stroke: #ddd;
}

.progress {
  stroke: #41a676;
  transition: stroke-dashoffset 1s linear;
}

.counter {
  position: relative;
  bottom: 73px;
}
.time-text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
::ng-deep .question-options-div {
  display: inline-block;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  margin: 3px 10px !important;
}
.options-label-style {
  display: flex;
  gap: 10px;
  margin: 5px 0px;
}
// laptop 1024px
@media (max-width: 1024px) {
  .question-options-div {
    width: 700px;
    height: 580px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }
  .exam-page-div {
    margin: 0px;
    display: flex;
    width: 100vw;
    gap: 0px;
    justify-content: center;
  }
  img {
    width: 300px;
    height: 300px;
    position: relative;
    top: 34px;
    left: 7px;
  }
  .time-container-div {
    width: 260px;
    height: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border: 1px solid #e1e1e1;
  }
  .question-list-container {
    width: 260px;
    height: 386px;
    border-radius: 6px;
    border-width: 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border: 1px solid #e1e1e1;
  }
}
//media for tablet
@media (min-width: 768px) and (max-width: 1023px) {
  .question-options-div {
    width: 510px;
    height: 434px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
    justify-content: flex-start;
  }
  .exam-page-div {
    margin: 0px;
    display: flex;
    gap: 0px;
    width: 100vw;
    justify-content: center;
  }
  .options-label-style {
    display: flex;
    gap: 10px;
    margin: 0px;
  }
  .question-options-div label {
    display: inline-block;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    margin: 0px;
  }

  img {
    width: 145px;
    height: 145px;
    position: relative;
    top: 70px;
    left: -25px;
  }

  .time-container-div {
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border: 1px solid #e1e1e1;
  }

  .question-list-container {
    width: 200px;
    height: 240px;
    border-radius: 6px;
    border-width: 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border: 1px solid #e1e1e1;
  }
}
//for mobile media
@media (max-width: 560px) {
  .exam-page-div {
    margin: 0px;
    display: flex;
    gap: 5px;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
  }
  img {
    display: none;
  }
  .question-options-div {
    width: 275px;
    height: 274px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    align-items: center;
    justify-content: flex-start;
  }
  .question-options-div p {
    word-wrap: break-word;
    font-family: "Poppins";
    width: 250px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 0.6rem;

    letter-spacing: 0%;
  }
  .question-options-div label {
    display: inline-block;
    padding: 3px !important;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 100%;
  }

  .time-container-div {
    width: 100px;
    height: 180px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    align-items: center;
    position: relative;
    top: -230px;
    left: 153px;
    justify-content: space-evenly;
    align-content: stretch;
    align-content: flex-start;
    box-shadow: none;
    border: none;
  }
  .buttons-div .p-button {
    color: #2e629f;
    background-color: rgb(255, 255, 255);
    width: 100px;
    font-family: "Poppins";
    width: 70px;
    height: 31px;
    font-weight: 500;
    font-size: 0.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 6px;
    border-width: 1px;
    border-color: #2e629f;
  }
  .prev-skip-next-div-style :first-child::ng-deep.p-button {
    color: #2e629f;
    background-color: rgb(255, 255, 255);

    font-family: "Poppins";
    width: 70px;
    height: 30px;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 6px;
    border-width: 1px;
    border-color: #2e629f;
    margin-right: 10px;
  }
  .prev-skip-next-div-style :nth-child(2)::ng-deep.p-button {
    color: rgb(255, 255, 255);
    background-color: #2e629f;
    font-family: "Poppins";
    width: 70px;
    height: 30px;
    font-weight: 500;
    font-size: 0.5rem;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 6px;
    border-width: 1px;
    border-color: #2e629f;
  }
  .prev-skip-next-div-style {
    grid-row: 2;
    grid-column: 4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .buttons-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .buttons-div ::ng-deep .p-button {
    color: #2e629f;
    background-color: rgb(255, 255, 255);

    font-family: "Poppins";
    width: 70px;
    height: 30px;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 6px;
    border-width: 1px;
    border-color: #2e629f;
  }
  circle {
    fill: none;
    stroke-width: 13px;
    r: 33;
    cx: 66;
    cy: 57;
  }
  .question-list-container {
    width: 279px;
    height: 109px;
    border-radius: 6px;
    border-width: 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    border: 1px solid #e1e1e1;
    position: relative;
    top: -194px;
  }

  .question-list-contaier-p-style {
    padding: 5px 0px 5px 12px;
    margin: 0px;
  }

  .question-list-heading-style {
    padding: 4px;
    font-size: 0.6rem;
  }
  .question-check-style {
    background: #c6e4d6;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
