<div class="question-form-style">
  <form [formGroup]="questionform" (ngSubmit)="onSubmit()">
    <div>
      <label for="questionText">Question</label><br />
      <textarea
        formControlName="questionText"
        pInputTextarea
        [autoResize]="true"
      >
      </textarea>
    </div>
    <div class="options">
      <div>
        <label for="optionA">Option1</label><br />
        <div class="card flex justify-content-center">
          <input
            formControlName="optionA"
            type="text"
            pInputText
            name="value"
          />
        </div>
      </div>
      <div>
        <label for="optionB">Option2</label><br />
        <div class="card flex justify-content-center">
          <input
            formControlName="optionB"
            type="text"
            pInputText
            name="value"
          />
        </div>
      </div>
      <div>
        <label for="optionC">Option3</label><br />
        <div class="card flex justify-content-center">
          <input
            formControlName="optionC"
            type="text"
            pInputText
            name="value"
          />
        </div>
      </div>
      <div>
        <label for="optionD">Option4</label><br />
        <div class="card flex justify-content-center">
          <input
            formControlName="optionD"
            type="text"
            pInputText
            name="value"
          />
        </div>
      </div>
      <div>
        <label for="correctAnswer">Correct Answer</label><br />
        <div class="card flex justify-content-center">
          <input
            formControlName="correctAnswer"
            type="text"
            pInputText
            name="value"
          />
        </div>
      </div>
      <div>
        <label for="timer">Timer</label><br />
        <div>
          <input
            formControlName="timerInSeconds"
            type="number"
            pInputText
            placeholder="secs"
          />
        </div>
      </div>
      <div class="buttons-div">
        <p-button label="Cancel" (onClick)="onReset()" class="primary" />
        <p-button type="submit" label="Add" *ngIf="!isEditable" />
        <p-button
          type="submit"
          label="Update"        
          *ngIf="isEditable"
        />
      </div>
    </div>
  </form>
</div>
