<div class="question-form-style">
  <form>
    <div>
      <label for="Question">Question</label><br />
      <textarea pInputTextarea [autoResize]="true"> </textarea>
    </div>
    <div class="options">
      <div>
        <label for="option1">Option1</label><br />
        <div class="card flex justify-content-center">
          <input type="text" pInputText [(ngModel)]="value" name="value" />
        </div>
      </div>
      <div>
        <label for="option1">Option1</label><br />
        <div class="card flex justify-content-center">
          <input type="text" pInputText [(ngModel)]="value" name="value" />
        </div>
      </div>
      <div>
        <label for="option1">Option1</label><br />
        <div class="card flex justify-content-center">
          <input type="text" pInputText [(ngModel)]="value" name="value" />
        </div>
      </div>
      <div>
        <label for="option1">Option1</label><br />
        <div class="card flex justify-content-center">
          <input type="text" pInputText [(ngModel)]="value" name="value" />
        </div>
      </div>
      <div>
        <label for="option1">Option1</label><br />
        <div class="card flex justify-content-center">
          <input type="text" pInputText [(ngModel)]="value" name="value" />
        </div>
      </div>
      <div>
        <label for="option1">Option1</label><br />
        <div>
          <input type="text" pInputText placeholder="sec  " />
        </div>
      </div>
      <div class="buttons-div">
        <p-button label="Cancel" class="primary" />
        <p-button label="Save" />
      </div>
    </div>
  </form>
</div>
