<div class="admin-page-css">
  <div class="admin-login-div">
    <div>
      <h1>Q<span class="ui">uiz</span><span class="zoo">oo</span></h1>
    </div>
    <div class="admin-signin">
      <h2>Sign Up</h2>
    </div>
    <div class="username-div">
      <label for="fullname">Fullname * </label>
      <br />
      <input type="text" class="input-style" />
    </div>
    <div class="username-div">
      <label for="Password">Password * </label>
      <br />
      <p-password [(ngModel)]="value" [toggleMask]="true" />
    </div>
    <div class="username-div">
      <label for="ConfirmPassword"> Confirm Password * </label>
      <br />
      <p-password [(ngModel)]="value" [toggleMask]="true" />
    </div>
    <div style="align-self: self-start">
      <label>
        <input type="checkbox" name="isAdmin" value="true" class="checkstyle" />
        Is Admin
      </label>
    </div>

    <p-button label="Create Account" type="submit" />
    <div>
      <p class="sign-in-style">
        Already have an account? <span class="adminp">Sign In!</span>
      </p>
    </div>
  </div>
</div>
