@import "primeicons/primeicons.css";
:root {
  --font-family: "Poppins", sans-serif;
  --violet-500: #8e24aa;
  --text-color: #ffffff;
  --blue-500: #006ac3;
  --orange-500: #ff8000;
  --teal-500: #41a676;
  --violet-500: #bd4df5;
  --lime-500: #9ad720;
  --barcolor-500: #76e28e;
}

::-webkit-scrollbar {
  display: none; /* Webkit browsers (Chrome, Safari, Edge) */
}
.sidebar-css {
  background-color: #4a90e2;
}
label {
  color: #000000;
}
.question-form-style {
  background-color: #ffffff;
}
li {
  color: rgb(0, 0, 0);
}
.dashboard-header {
  background-color: #ffffff;
}
p {
  color: #000000;
}
.nav-sections-style {
  background-color: #efefefc7;
}
.heading {
  color: #000000;
}
input {
  background-color: #f1f1f1;
}
textarea {
  background-color: #f1f1f1;
}
.quiz-summary-style {
  background-color: white;
  color: black;
}

.p-datatable-tbody > tr {
  background-color: #f9fafb !important;
  color: #374151 !important;
  transition: background-color 0.5s ease, color 0.5s ease !important;
}

body:not(.dark-mode) .p-datatable-thead th {
  background-color: #f9fafb !important;
  color: #374151 !important;
  transition: background-color 0.5s ease, color 0.5s ease !important;
}
.p-paginator {
  background-color: #f9fafb !important;
  color: #374151 !important;
}
.p-dropdown {
  background-color: #f9fafb !important;
  color: #374151 !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

ul {
  background-color: #f9fafb;
}

.stepper-container {
  background-color: #ffffff;
}

.counter {
  color: rgb(0, 0, 0);
}
.question-status-style {
  background: #ffffff;
}
ul {
  background-color: #4a90e2;
}
.bg-panel {
  background-color: #4a90e2 !important;
  color: white !important;
}
.p-confirm-popup {
  background: #090c2d;
  color: #ffffff;
  border: 0 none;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.p-confirm-popup .p-confirm-popup-content {
  display: flex;
  align-items: center;
  background-color: #2e629f;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 6px;
}
.p-confirm-popup .p-confirm-popup-content p {
  color: white !important;
}
.p-confirm-popup .p-confirm-popup-footer {
  background-color: #2e629f;
  color: white;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 6px;
}

.p-button.p-button-outlined {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid;
}
.p-button.p-button-outlined {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid;
}
register-form-style {
  background-color: white;
  color: black;
}
.dashboard-header-mobile {
  background-color: white;
}
.marks-div {
  background-color: white;
}
.p-sidebar-left {
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: rgb(39, 13, 13);
}
//--------------------------------------------------------------------------------------------------------------------------------------body-dark-mode

body.dark-mode .sidebar-css {
  background-color: #18181b;
}
body.dark-mode label {
  color: #ffffff;
}
body.dark-mode li {
  color: white;
}
body.dark-mode .question-form-style {
  background-color: #18181b;
}
body.dark-mode .dashboard-header {
  background-color: #18181b;
}
body.dark-mode p {
  color: #fffefe !important;
}
body.dark-mode .nav-sections-style {
  background-color: #3e3e48;
}
body.dark-mode .heading {
  color: #fffefe;
}
body.dark-mode input {
  background-color: #000000;
  color: white;
}
body.dark-mode textarea {
  background-color: #000000;
  color: white;
}

body.dark-mode .quiz-summary-style {
  background-color: #18181b;
  color: white;
}

body.dark-mode .p-datatable-thead th {
  background-color: #000000 !important;
  color: white !important;
  transition: background-color 0.5s ease, color 0.5s ease !important;
}

body.dark-mode .p-datatable-tbody > tr {
  background-color: #000000 !important;
  color: white !important;
}

body.dark-mode .p-paginator {
  background-color: #000000 !important;
  color: white !important;
}
body.dark-mode .p-dropdown {
  background-color: #000000 !important;
  color: white !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}
body.dark-mode span {
  color: white;
}
body.dark-mode button.p-ripple.p-element.p-button.p-component {
  background-color: #000000 !important;
}

body.dark-mode ul {
  background-color: #000000;
}

body.dark-mode .stepper-container {
  background-color: #3e3e48;
}
body.dark-mode .router-component-style {
  background-color: #3e3e48;
}
body.dark-mode .main-div {
  background-color: #3e3e48;
}
body.dark-mode .question-options-div {
  background-color: black;
}
body.dark-mode .time-container-div {
  background-color: #00000000;
}
body.dark-mode .counter {
  color: white;
}
body.dark-mode .question-status-style {
  background: #030303 !important;
}
body.dark-mode .title {
  color: white;
}
body.dark-mode .title-bold {
  color: white;
}
body.dark-mode .p-confirm-popup .p-confirm-popup-content {
  display: flex;
  align-items: center;
  background-color: #000000;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 6px;
}
body.dark-mode .p-confirm-popup .p-confirm-popup-footer {
  background-color: black;
  color: white;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 6px;
}
body.dark-mode .register-form-style {
  background-color: black !important;
  color: white !important;
}
body.dark-mode .p-button.p-button-outlined {
  background-color: #493939 !important;
  color: #000000 !important;
  border: 1px solid;
}
body.dark-mode .bg-panel {
  background-color: #000000 !important;
  color: white !important;
  border: 1px solid white;
}
body.dark-mode .dashboard-header-mobile {
  background-color: black;
}
body.dark-mode .marks-div {
  background-color: rgb(0, 0, 0);
}
body.dark-mode .p-button.p-button-text {
  background-color: transparent;
  color: #ffd9bd;
  border-color: #ffffff;
}
body.dark-mode .pie-chart-div {
  background-color: #18181b;
  color: white;
}
body.dark-mode .bar-chart-div {
  background-color: #18181b;
  color: white;
}
body.dark-mode .p-sidebar-left {
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: black;
}
body,
html {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: "Inter", sans-serif;
}

/* For Firefox */
* {
  scrollbar-width: none; /* Firefox */
}

.bg-panel {
  background-color: #4a90e2;
  color: white;
  padding: 1.25rem;
  border-radius: 6px;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0px !important ;
}
.p-overlaypanel {
  border: 0 none;
  border-radius: 6px;
  box-shadow: none !important;
}
