@import "primeicons/primeicons.css";
:root {
  --font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Webkit browsers (Chrome, Safari, Edge) */
}

body,
html {
  padding: 0px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: "Inter", sans-serif;
}

/* For Firefox */
* {
  scrollbar-width: none; /* Firefox */
}
