<div class="card flex justify-content-center gap-2">
  <p-toast />
  <p-confirmDialog />
  <p-button
    (onClick)="confirm2($event, 2)"
    label=""
    severity="danger"
    [outlined]="true"
    [style]="{ padding: '0px', border: 'none' }"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
      fill="#75767C"
    >
      <path
        d="M315-154q-27.64 0-47.32-19.68T248-221v-472h-47v-67h185v-46h189v46h185v67h-47v471.57q0 28.37-19.68 47.9Q673.64-154 646-154H315Zm74-137.5h67v-331h-67v331Zm116 0h67v-331h-67v331Z"
      />
    </svg>
  </p-button>
</div>
